@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Montserrat:wght@600&display=swap');

* {
  font-family: 'Hind Madurai', sans-serif;
  text-align: center;
}

h1 {
  font-size: 2rem;
}

h1,h4 {
  font-family: 'Montserrat', sans-serif;

}

h2 {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #d8eefe;
  margin: 0px;
}
main{
  display: flex;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1%;
  margin-bottom: 1%;
  margin: 8px;
}

section{
  background-color: #bde0ee;
  border-radius: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

header {
  background-color: #bde0ee;
  position: sticky;
  margin-left: 10%;
  margin-right: 10%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; 
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);

}

form {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

iframe {
  border-radius: 5%;
}

#personalInformation{
  width: 100%;
}

#education {
  width: 100%;
}

#workExperience {
  width: 26%;
  margin-left: 10%;
  margin-right: 0%;
}

#projects {
  width: 26%;
  margin-left: -19.5%;
  margin-right: 0%;
}

#skills {
  width: 100%;
}

#languages {
  width: 26%;
  margin-left: -19.5%;
  margin-right: 10%;
}

#contactMe {
  width: 53%;
  margin-right: -10%;
}

#socialMedias {
  width: 26%;
}

header .nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

}

header .nav a{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

main #personalInformation, main #education {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  padding: 1rem 1rem;
}

main #skills{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 1rem 1rem;
}

main #skills #skillsTitle {
  width: 100%;
}

main #skills #languages {
  width: 25%;
  margin-left: 5%;
  margin-right: -6%;
}

main #skills #database {
  width: 25%;
}

main #skills #design {
  width: 25%;
}

main #skills #languages {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  padding: 1rem 1rem;
}

main #skills #languages #text{
  width: 100%;
}

main #skills #languages #images{
  width: 100%;
}

main #skills #database {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 1rem 1rem;
}

main #skills #database #text{
  width: 100%;
}

main #skills #database #images{
  width: 100%;
}

main #skills #design {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  padding: 1rem 1rem;
}

main #skills #design #text{
  width: 100%;
}

main #skills #design #images{
  width: 100%;
}

main #skills #database img{
  border-radius: 50%;
  margin: 1%;

}

main #skills #languages img{
  border-radius: 50%;
  margin: 1%;
}

main #skills #design img{
  border-radius: 50%;
  margin: 1%;
}

form div{
  display: flex;
  flex-direction: column;
  width: 49.5%; 
  align-items: self-end;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
}

form div p {
  margin-bottom: 0.2%;
}

#mensajeArea   {
  align-items: center;
  margin-right: 10% ;
  margin-left: -5%;
}
